/**********************************
 Author and software info here
 **********************************/

manifest {
  name = 'isugifNF/assemblyStats'
  author = 'Andrew Severin'
  homePage = 'www.bioinformaticsworkbook.org'
  description = 'Nextflow adapted for bash scripting'
  mainScript = 'main.nf'
  version = '1.0.0'
}


params {
  help = false
  outdir = './assemblyStat_Results'
  threads = 16
  monochrome_logs = false
  queueSize = 18
  genomes = ""
  options = "--auto-lineage"
  listDatasets = false
  mode = "genome"
  buscoOnly = false
  account = false // "YourProjectAllocationAccount"
}

env {
  account_flag = params.account ? " --account $params.account " : ' '
}

process {
  publishDir = "${baseDir}/$params.outdir"
}

executor {
  queueSize = params.queueSize
  submitRateLimit = '10 sec'
}

profiles {
  condo { includeConfig './configs/condo.config' }
  ceres { includeConfig './configs/ceres.config' }
  atlas { includeConfig './configs/atlas.config' }
  local { includeConfig './configs/local.config' }
  nova  { includeConfig './configs/nova.config'  }
  test  { includeConfig './configs/test.config'  }

  docker {
    docker.enabled = true
    process {
      withName:runBUSCO {
        containerOptions = "-v $launchDir/$params.outdir/config:/augustus/config"
      }
    }
  }

  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
    process {
      withName:runBUSCO {
        containerOptions = "--bind $launchDir/$params.outdir/config:/augustus/config"
      }
    }
  }
}

docker.runOptions = '-u \$(id -u):\$(id -g)'

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
  enabled = true
  file = "$params.outdir/timeline.html"
}

report {
  enabled = true
  file = "$params.outdir/report.html"
}
