/* Configuration for Atlas HPC */

process {
  executor = 'slurm'
  clusterOptions =  '-N 1 -n 16 -t 02:00:00 --account=isu_gif_vrsc'
  scratch = true

  /* process specific configuration */
  withName: runBUSCOlist { }
  withName: runAssemblyStats { }
  withName: runAssemblathonStats { }
  withName: setupBUSCO { }
  withName: runBUSCO { }
}

