/* Configuration for Atlas HPC */

env { 
  threads = params.threads ? "$params.threads" : 40
  account_flag = params.account ? " --account $params.account " : ' --account=isu_gif_vrsc'
}

process {
  executor = 'slurm'
  clusterOptions =  "-N 1 -n 16 -t 02:00:00 ${env.account_flag}"
  scratch = true

  withName:runBUSCO {
    clusterOptions =  "-N 1 -n ${env.threads} -t 168:00:00 ${env.account_flag} -p service"
  }

  /* process specific configuration */
  //withName: runBUSCOlist         { } // busco
  //withName: runAssemblyStats     { } // swift
  //withName: runAssemblathonStats { } // perl
  //withName: setupBUSCO           { } // busco
  //withName: runBUSCO             { } // busco
}
