/* Configuration for Ceres HPC */

process {
  executor = 'slurm'
  clusterOptions =  "-N 1 -n 16 -t 02:00:00 ${env.account_flag}"
  scratch = true

  /* process specific configuration */
  /* could increase cluster options here ... */
  //  withName: runBUSCOlist         { module = 'busco4/4.0.2' }
  //  withName: runAssemblyStats     { } // swift
  //  withName: runAssemblathonStats { } // perl
  //  withName: setupBUSCO           { module = 'busco4/4.0.2' } // augustus
  withName: runBUSCO                 { clusterOptions = "-N 1 -n 16 ${env.account_flag} -t 14:00:00" }


}
